# Introduction

In this report, we are going to analyze the bitcoin dataset.

## Import libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Import Dataset

In [6]:
bitcoin = pd.read_csv('data/bitcoin_train.csv')

In [7]:
bitcoin.head()

,Unnamed: 0,address,year,day,length,weight,count,looped,neighbors,income,label
0,0,1BpvJgUs7UprQu9z8fLsP7pFvFcCscHRCV,2011,287,2,0.250000,1,0,2,3.009500e+08,white
1,1,1EnSeTPjMxZm9X9iQDYmMUDoLQQ3ouDN6F,2015,77,0,1.000000,1,0,1,4.820000e+07,white
2,2,1mwkhYHeoqGBkVW84yFpYCSqRDt5TWSBQ,2011,164,52,0.000977,23,0,2,2.349582e+10,white
3,3,19XUCsxgpHZGXKLgVMpdoyZqcFdeM3pGeE,2014,86,144,0.000001,1555,1152,2,9.581274e+07,white
4,4,14Ef6MGSYLEbigo55CpPBGEGSGYwwB7xhY,2015,261,6,0.250000,1,0,2,3.424024e+07,white

In [8]:
bitcoin.shape

(2333357, 11)

In [9]:
bitcoin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2333357 entries, 0 to 2333356
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   address     object
 2   year        int64
 3   day         int64
 4   length      int64
 5   weight      float64
 6   count       int64
 7   looped      int64
 8   neighbors   int64
 9   income      float64
 10  label       object
dtypes: float64(2), int64(7), object(2)
memory usage: 195.8+ MB

In [10]:
bitcoin.describe()

,Unnamed: 0,year,day,length,weight,count,looped,neighbors,income
count,2.333357e+06,2.333357e+06,2.333357e+06,2.333357e+06,2.333357e+06,2.333357e+06,2.333357e+06,2.333357e+06,2.333357e+06
mean,1.166678e+06,2.014476e+03,1.814778e+02,4.504554e+01,5.456381e-01,7.223780e+02,2.387287e+02,2.213161e+00,4.383004e+09
std,6.735823e+05,2.257312e+00,1.039893e+02,5.900348e+01,3.652788e+00,1.689861e+03,9.670131e+02,1.888230e+01,1.520211e+11
min,0.000000e+00,2.011000e+03,1.000000e+00,0.000000e+00,1.420108e-90,1.000000e+00,0.000000e+00,1.000000e+00,3.000000e+07
25%,5.833390e+05,2.013000e+03,9.200000e+01,2.000000e+00,2.152083e-02,1.000000e+00,0.000000e+00,1.000000e+00,7.434000e+07
50%,1.166678e+06,2.014000e+03,1.810000e+02,8.000000e+00,2.500000e-01,1.000000e+00,0.000000e+00,2.000000e+00,2.000000e+08
75%,1.750017e+06,2.016000e+03,2.710000e+02,1.080000e+02,8.794643e-01,5.700000e+01,0.000000e+00,2.000000e+00,9.940669e+08
max,2.333356e+06,2.018000e+03,3.650000e+02,1.440000e+02,1.943749e+03,1.449700e+04,1.449600e+04,1.292000e+04,4.982447e+13

# Data Cleaning

In [11]:
bitcoin.columns

Index(['Unnamed: 0', 'address', 'year', 'day', 'length', 'weight', 'count',
       'looped', 'neighbors', 'income', 'label'],
      dtype='object')

In [12]:
bitcoin = bitcoin.drop(["day", "year", 'Unnamed: 0','address'],axis=1)
bitcoin.head()

   length    weight  count  looped  neighbors        income  label
0       2  0.250000      1       0          2  3.009500e+08  white
1       0  1.000000      1       0          1  4.820000e+07  white
2      52  0.000977     23       0          2  2.349582e+10  white
3     144  0.000001   1555    1152          2  9.581274e+07  white
4       6  0.250000      1       0          2  3.424024e+07  white

In [13]:
bitcoin.isnull().sum()

length       0
weight       0
count        0
looped       0
neighbors    0
income       0
label        0
dtype: int64

In [14]:
bitcoin['label'].unique()

array(['white', 'CryptoWall', 'Cerber', 'CryptoLocker', 'Locky',
       'DMALockerv3', 'Globe', 'CryptXXX', 'DMALocker', 'WannaCry',
       'NoobCrypt', 'Razy', 'Flyper', 'KeRanger', 'GlobeImposter',
       'SamSam', 'CryptoTorLocker2015', 'VenusLocker', 'Globev3', 'Sam',
       'APT', 'XLockerv5.0', 'JigSaw', 'CryptConsole', 'EDA2',
       'XTPLocker', 'XLocker', 'Jigsaw', 'ComradeCircle'], dtype=object)

In [24]:
to_replace = ['Globe', 'WannaCry',
       'NoobCrypt', 'Razy', 'Flyper', 'KeRanger', 'GlobeImposter',
       'SamSam', 'CryptoTorLocker2015', 'VenusLocker', 'Globev3', 'Sam',
       'APT', 'XLockerv5.0', 'JigSaw', 'CryptConsole', 'EDA2',
       'XTPLocker', 'XLocker', 'Jigsaw', 'ComradeCircle']

In [25]:
bitcoin = bitcoin.replace(to_replace, "other")

In [27]:
bitcoin['label'].unique()

array(['white', 'CryptoWall', 'Cerber', 'CryptoLocker', 'Locky',
       'DMALockerv3', 'other', 'CryptXXX', 'DMALocker'], dtype=object)

In [28]:
bitcoin.loc[~(bitcoin['label'] == 'white')].groupby("label").count().sort_values(by="count", ascending = False)

              length  weight  count  looped  neighbors  income
label
CryptoWall      9872    9872   9872    9872       9872    9872
CryptoLocker    7422    7422   7422    7422       7422    7422
Cerber          7381    7381   7381    7381       7381    7381
Locky           5320    5320   5320    5320       5320    5320
CryptXXX        1933    1933   1933    1933       1933    1933
other            661     661    661     661        661     661
DMALockerv3      290     290    290     290        290     290
DMALocker        210     210    210     210        210     210

# Data Visualization

In [29]:
bitcoin.index

RangeIndex(start=0, stop=2333357, step=1)

In [37]:
market_share = bitcoin.loc[~(bitcoin['label'] == 'white')].groupby('label').count()['count'].sort_values(ascending=False)
market_share_freq = market_share / market_share.sum()
market_share_freq

label
CryptoWall      0.298347
CryptoLocker    0.224304
Cerber          0.223065
Locky           0.160779
CryptXXX        0.058418
other           0.019976
DMALockerv3     0.008764
DMALocker       0.006347
Name: count, dtype: float64

In [ ]:
market_share

In [ ]:
# top three ransom labels that have the most ransom transactions: Locky, Cerber, CryptoWall

In [ ]:
num_white = bitcoin.loc[(bitcoin['label'] == 'white')].shape[0]
num_ransom = bitcoin.shape[0] - num_white
basic = pd.DataFrame({'category':['white', 'ransom'], 'count':[num_white, num_ransom]})
basic

In [ ]:
locky = bitcoin[bitcoin['label'] == 'Locky']
locky

# Data Analysis

# Predictive Model

# Proposal

# Conclusion